<h3>Animation</h3>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-animation" viewBox="0 0 900 450">
      <style type="text/css">
        .st0{fill:#F7931E;}
        .st1{fill:#C46F1A;}
        .st2{fill:#1A1A1A;stroke:#1A1A1A;stroke-width:2.9949;stroke-miterlimit:10;}
        .st3{fill:#CCCCCC;}
        .st4{fill:#1A1A1A;stroke:#1A1A1A;stroke-width:2.8237;stroke-miterlimit:10;}
        .st5{fill:#FFFFFF;}
        .st6{fill:#F2F2F2;}
        .st7{opacity:0.1;}
        .st8{fill:none;stroke:#000000;stroke-width:6.8647;stroke-linejoin:round;stroke-miterlimit:10;}
        .st9{fill:none;stroke:#000000;stroke-width:6.8647;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st10{fill:none;stroke:#C1272D;stroke-width:6.8647;stroke-linejoin:round;stroke-miterlimit:10;}
        .st11{fill:none;stroke:#C1272D;stroke-width:6.8647;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st12{opacity:0.1;fill:#4ec0ba;stroke:#000000;stroke-width:9.5404;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st13{fill:#754C24;stroke:#754C24;stroke-width:1.8854;stroke-linejoin:round;stroke-miterlimit:10;}
        .st14{fill:#C69C6D;stroke:#C69C6D;stroke-width:1.4363;stroke-linejoin:round;stroke-miterlimit:10;}
        .st15{fill:#603813;stroke:#603813;stroke-width:1.8854;stroke-linejoin:round;stroke-miterlimit:10;}
        .st16{fill:#E6E6E6;stroke:#E6E6E6;stroke-width:1.1239;stroke-linejoin:round;stroke-miterlimit:10;}
        .st17{fill:#B3B3B3;stroke:#B3B3B3;stroke-width:9.6903;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
        .st18{fill:#808080;stroke:#999999;stroke-width:0.286;stroke-miterlimit:10;}
        .st19{fill:#E6E6E6;}
        .st20{fill:none;stroke:#B3B3B3;stroke-width:0.286;stroke-linejoin:round;stroke-miterlimit:10;}
        .st21{fill:none;stroke:#BA8B61;stroke-width:0.2978;stroke-miterlimit:10;}
        .st22{fill:none;stroke:#A67C52;stroke-width:0.286;stroke-miterlimit:10;}
        .st23{fill:#353535;}
        .st24{fill:#FBB03B;}
        .st25{fill:#666666;}
        .st26{fill:#ED1C24;}
        .st27{fill:#A02735;}
        .st28{
          fill:#EFEFEF;
          animation: steaming 7s linear infinite;
        }

        .eyes {
          animation: blink 6s infinite;
        }

        @keyframes blink {
          95% {
            transform: none;
            animation-timing-function: ease-in;
          }
          97% {
            transform: translateY(65px) scaleY(0)
          }
          100% {
            animation-timing-function: ease-out;
          }
        }

        @keyframes steaming {
          0% {
            transform: translateY(0px);
            opacity: 0;
          }

          50% { opacity: 1; }

          100% {
            transform: translateY(-10px);
            opacity: 0;
          }
      }
      </style>
      <defs>
      </defs>
      <g>
        <path class="st0" d="M188.5,217.4c0,0-6.3,16.8-4.6,17s10.8-4.2,12.3-6.3c0,0,3.4,10.1,5.7,8.5c2.3-1.5,3.8-5.9,3.8-8.7
          c0,0,6.1,10.6,8.4,8.9c2.3-1.7,0-19.4,0-19.4H188.5z"/>
        <path class="st0" d="M115.7,217.4c0,0,6.3,16.8,4.6,17s-10.8-4.2-12.3-6.3c0,0-3.4,10.1-5.7,8.5c-2.3-1.5-3.8-5.9-3.8-8.7
          c0,0-6.1,10.6-8.4,8.9c-2.3-1.7,0-19.4,0-19.4H115.7z"/>
        <path class="st1" d="M189.4,217c0,0-0.8,2.1-1.8,4.9c-1.7,5,28.4,5.9,27.9,0.5c-0.3-3.1-0.6-5.4-0.6-5.4H189.4z"/>
        <path class="st2" d="M60.1,105.2c0,0-31.2,28.6-27.4,37c3.8,8.4,24,0,24,0L60.1,105.2z"/>
        <path class="st1" d="M115.7,217.4c0,0,0.8,2.1,1.8,4.9c1.7,5-28.4,5.9-27.9,0.5c0.3-3.1,0.6-5.4,0.6-5.4H115.7z"/>
        <path class="st3" d="M160,221.6c0,0,96-47.4,85.7-112.3l-3.1,83l-18.9,29.3H160z"/>
        <path class="st4" d="M246.8,102.3C232.5-1.9,152.6,1.4,152.6,1.4S72.8-1.9,58.5,102.3s26.1,119.3,26.1,119.3h68.1h68.1
          C220.7,221.6,261.1,206.5,246.8,102.3z"/>
        <path class="st5" d="M226.2,80.3c0,0-8.6-43-37.3-46.8s-36.3,20.5-36.3,20.5s-7.7-24.4-36.3-20.5S79.1,80.3,79.1,80.3
          s-22.5,93.9,18.2,141.3h55.4h55.4C248.7,174.2,226.2,80.3,226.2,80.3z"/>
        <path class="st6" d="M152.6,221.6c0,0,67.6,2.7,74.6-77.8c0,0,5.2,33.3-7.4,59.6c-2.9,5.6-5.5,11.8-11.7,18.2H152.6z"/>

        <circle class="eyes"cx="121.4" cy="70.6" r="9.7"></circle>
        <circle class="eyes"cx="183.7" cy="70.6" r="9.7"></circle>

        <g class="st7">
          <path class="st8" d="M149.7,60.5h-27.6H94.5c0,0-3.8,36.4,11.9,40.7h15.7h15.7C153.5,96.9,149.7,60.5,149.7,60.5z"/>
          <path class="st8" d="M214.7,60.5h-27.6h-27.6c0,0-3.8,36.4,11.9,40.7h15.7h15.7C218.5,96.9,214.7,60.5,214.7,60.5z"/>
          <line class="st8" x1="149.9" y1="75.7" x2="159.1" y2="75.7"/>
          <path class="st9" d="M94.1,75.7H72"/>
          <line class="st9" x1="238.2" y1="75.7" x2="214.9" y2="75.7"/>
        </g>
        <path class="st0" d="M137.2,99.2c2.5,8.1,15.2,18.1,15.2,18.1s12.7-10,15.2-18.1C170.2,91.1,134.7,91.1,137.2,99.2z"/>
        <path class="st7" d="M137.4,99.2c0.6,2,1.9,4.2,3.4,6.2c3.5-7.1,3.3-8.7,13.6-12.3C148.1,92.3,136.1,94.8,137.4,99.2z"/>
        <g>
          <path class="st10" d="M147.7,58.4h-27.6H92.5c0,0-3.8,36.4,11.9,40.7h15.7h15.7C151.5,94.8,147.7,58.4,147.7,58.4z"/>
          <path class="st10" d="M212.6,58.4H185h-27.6c0,0-3.8,36.4,11.9,40.7H185h15.7C216.4,94.8,212.6,58.4,212.6,58.4z"/>
          <line class="st10" x1="147.9" y1="73.6" x2="157" y2="73.6"/>
          <line class="st11" x1="92.1" y1="73.6" x2="63.4" y2="73.6"/>
          <line class="st11" x1="241.5" y1="73.6" x2="212.9" y2="73.6"/>
        </g>
        <polygon class="st12" points="173.3,152.2 170.2,157.6 226.9,198.3 236.3,187.5 	"/>
        <polygon class="st13" points="29,119.7 28.2,120 15.7,124.6 13.2,125.5 22.7,142 37.4,167.4 44.5,164.8 45.3,164.5 52.4,161.9 
          44,114.3 	"/>
        <polygon class="st14" points="17.4,135.5 47.8,124.5 53.4,149.9 29.2,158.8 	"/>
        <path class="st15" d="M30.2,122.4c3.9-1.3,13.8-8.6,13.8-8.6S11.5,124,13.1,125.1C14.6,126.2,26.3,123.7,30.2,122.4z"/>
        <polygon class="st16" points="42.3,112.7 40.9,108.8 26.5,114 12,119.3 13.4,123.2 11.4,124 12.1,125.9 13.2,125.5 28.6,119.9 
          45.1,113.9 44.4,111.9 	"/>
        <g>
          
            <rect x="189" y="122.3" transform="matrix(0.5735 -0.8192 0.8192 0.5735 -40.6872 238.3841)" class="st17" width="39.2" height="72"/>
          <path class="st6" d="M216.1,159.6c-0.6-0.8-3.7-0.5-3.7-0.5s-1.2-0.9-2-2.2l-3.1,0l1.5-2.6c-0.3-0.4-0.7-0.8-1.2-1
            c-1.5-0.9-3.7-0.9-4.6-0.2c-0.2,0.2,0.8,2.2,0.8,2.2s-2-0.4-2.1-0.4c-0.5,0.5,0.5,2.6,2.1,3.7c1.6,1.1,2.7,1,4.1,1.1
            c1.4,0.1,2.9,1.5,2.9,1.5s1.4,2.9,1.8,3.2c0.4,0.3,0.4-3.3,0.4-3.3S216,160,216.1,159.6z"/>
        </g>
        <path class="st2" d="M236.3,106.1c0,0-31.2,28.6-27.4,37c3.8,8.4,24,0,24,0L236.3,106.1z"/>
        
          <ellipse transform="matrix(0.9394 -0.3428 0.3428 0.9394 -37.9005 16.3353)" class="st18" cx="27.3" cy="115.4" rx="2.4" ry="0.7"/>
        <g>
          <path class="st19" d="M173.9,145.9c2.6-4.2,5.2-8.3,7.9-12.4l4.1-6.1c1.3-2,2.7-4.1,4.1-6.1l0.2-0.3l0.3,0.2
            c2.6,1.9,5.2,3.7,7.8,5.6c2.6,1.9,5.2,3.8,7.7,5.8c-2.7-1.7-5.4-3.5-8.1-5.3c-2.7-1.8-5.3-3.6-8-5.4l0.6-0.1
            c-1.4,2-2.7,4.1-4.1,6.1l-4.1,6.1C179.7,138,176.8,142,173.9,145.9z"/>
        </g>
        <line class="st20" x1="12.7" y1="122.8" x2="42.7" y2="111.8"/>
        <line class="st21" x1="18.2" y1="134.8" x2="30.7" y2="158.9"/>
        <line class="st21" x1="19.7" y1="134.2" x2="32.2" y2="158.3"/>
        <line class="st21" x1="21.3" y1="133.7" x2="33.7" y2="157.8"/>
        <line class="st21" x1="22.8" y1="133.1" x2="35.2" y2="157.2"/>
        <line class="st21" x1="24.3" y1="132.5" x2="36.7" y2="156.6"/>
        <line class="st21" x1="25.8" y1="132" x2="38.3" y2="156.1"/>
        <line class="st21" x1="46.7" y1="124.5" x2="53" y2="150.8"/>
        <line class="st21" x1="44.8" y1="124.9" x2="51.1" y2="151.3"/>
        <line class="st21" x1="43.3" y1="125.5" x2="49.6" y2="151.8"/>
        <line class="st21" x1="41.7" y1="126" x2="48.1" y2="152.4"/>
        <line class="st21" x1="40.2" y1="126.6" x2="46.6" y2="153"/>
        <line class="st21" x1="38.7" y1="127.2" x2="45.1" y2="153.6"/>
        <line class="st21" x1="28.6" y1="130.9" x2="39.6" y2="155.6"/>
        <line class="st21" x1="34.4" y1="128.8" x2="42.3" y2="154.6"/>
        <line class="st21" x1="36.2" y1="128.1" x2="44.1" y2="153.9"/>
        <line class="st21" x1="32.1" y1="129.7" x2="40.9" y2="155.1"/>
        <line class="st22" x1="0.1" y1="137" x2="0.1" y2="137.1"/>
        <g>
          <path class="st23" d="M140.7,9.2c-5.3,1.1-10.4,2.5-15.4,4.3c-2.5,0.9-5,1.8-7.4,2.9c-2.4,1.1-4.8,2.2-7.1,3.5
            c-2.3,1.2-4.6,2.6-6.8,4c-2.2,1.4-4.3,3-6.4,4.7c-4.1,3.3-7.8,7.1-11.3,11.3c2.7-4.7,6.1-9,10.1-12.6c4-3.7,8.5-6.8,13.3-9.4
            c4.8-2.6,9.9-4.6,15.1-6C130,10.3,135.3,9.3,140.7,9.2z"/>
        </g>
        <g>
          <path class="st23" d="M84.7,42.5c-0.4,1.5-1.2,2.7-2,4c-0.8,1.2-1.7,2.3-2.9,3.4c0.2-0.8,0.5-1.4,0.8-2.1c0.3-0.7,0.7-1.3,1.1-1.9
            C82.6,44.7,83.5,43.5,84.7,42.5z"/>
        </g>
        <g>
          <path class="st23" d="M78.7,52.1c0.1,0.8-0.1,1.4-0.4,2c-0.3,0.6-0.7,1.1-1.4,1.5c-0.1-0.8,0.1-1.4,0.4-2
            C77.6,53,78,52.5,78.7,52.1z"/>
        </g>
        <g>
          <path class="st19" d="M173,147.2c-0.1,0.4-0.3,0.6-0.5,0.9c-0.2,0.3-0.4,0.6-0.8,0.8c0.1-0.4,0.3-0.6,0.5-0.9
            C172.5,147.7,172.7,147.5,173,147.2z"/>
        </g>
        <g>
          <path class="st24" d="M152.5,97.2c0.3,2,0.4,4,0.4,6c0,2-0.1,4-0.4,6c-0.3-2-0.4-4-0.4-6C152.1,101.3,152.1,99.2,152.5,97.2z"/>
        </g>
        <g>
          <path class="st24" d="M152.5,111.1c0.1,0.2,0.2,0.5,0.2,0.7c0.1,0.2,0.1,0.5,0.1,0.7c0,0.2,0,0.5-0.1,0.7c0,0.2-0.1,0.5-0.2,0.7
            c-0.1-0.2-0.2-0.5-0.2-0.7c-0.1-0.2-0.1-0.5-0.1-0.7c0-0.2,0-0.5,0.1-0.7C152.3,111.5,152.4,111.3,152.5,111.1z"/>
        </g>
        <g>
          <path class="st25" d="M236,109.3c-2.2,2.4-4.5,4.8-6.7,7.2c-2.2,2.4-4.4,4.8-6.5,7.4c-2.1,2.5-4.1,5.1-6,7.7
            c-0.9,1.3-1.8,2.7-2.5,4.2c-0.7,1.4-1.4,3-1.5,4.6c0-1.7,0.5-3.3,1.2-4.8c0.7-1.5,1.5-2.9,2.3-4.3c1.8-2.8,3.8-5.4,5.9-7.9
            c2.1-2.5,4.3-4.9,6.6-7.3C231.2,113.7,233.5,111.4,236,109.3z"/>
        </g>
        <g>
          <path class="st25" d="M55.5,111.1c-1.3,1.7-2.8,3.3-4.2,4.9l-2.2,2.3c-0.7,0.8-1.5,1.5-2.2,2.4c0.4-1,1.1-1.9,1.7-2.8
            c0.7-0.9,1.4-1.7,2.1-2.5C52.2,113.8,53.7,112.3,55.5,111.1z"/>
        </g>
        <g>
          <path class="st26" d="M106.4,56.4c-1.1,0.1-2.2,0.2-3.3,0.3c-1.1,0.1-2.2,0.1-3.3,0.2C97.5,57,95.3,57,93.1,57c0,0,0,0-0.1,0
            L93,57c-0.4-0.1-0.9,0-1.3,0.2c-0.4,0.2-0.7,0.6-0.8,1c-0.3,0.9-0.3,2.2-0.4,3.3c-0.1,1.1-0.1,2.3-0.1,3.5c-0.1,1.2,0,2.3-0.1,3.5
            c-0.3-2.3-0.7-4.6-0.7-7c0-0.6,0-1.2,0-1.8c0-0.6,0.1-1.2,0.3-1.9c0.2-0.6,0.7-1.3,1.3-1.6c0.7-0.4,1.3-0.5,2.1-0.3l-0.1,0
            c2.2,0,4.4,0,6.7,0.1c1.1,0,2.2,0.1,3.3,0.2C104.2,56.2,105.3,56.3,106.4,56.4z"/>
        </g>
        <g>
          <path class="st26" d="M62.8,76c-0.5-0.1-1.1-0.4-1.4-0.9c-0.3-0.5-0.4-1.2-0.3-1.8c0.1-0.6,0.3-1.2,0.8-1.7c0.5-0.4,1-0.7,1.7-0.8
            l0,0l0,0c1.9,0,3.7,0.1,5.6,0.4c-1.9,0.3-3.7,0.4-5.6,0.4l0,0c-0.4,0.1-0.9,0.3-1.2,0.6c-0.3,0.3-0.6,0.7-0.7,1.2
            c-0.1,0.5-0.1,1,0.1,1.4C62,75.3,62.4,75.7,62.8,76z"/>
        </g>
        <g>
          <path class="st27" d="M122.1,101.2c2.2-0.1,4.5-0.2,6.7-0.3c2.2-0.1,4.5-0.1,6.7-0.1l-0.1,0c1.3-0.4,2.7-0.9,4-1.6
            c1.2-0.7,2.4-1.5,3.4-2.5c1-1,1.8-2.2,2.7-3.4c0.4-0.6,0.9-1.2,1.2-1.8c0.4-0.6,0.6-1.3,0.9-2c-0.2,0.7-0.4,1.4-0.7,2.1
            c-0.3,0.7-0.7,1.3-1.1,1.9c-0.8,1.2-1.5,2.5-2.5,3.7c-1,1.1-2.2,2-3.5,2.8c-1.3,0.7-2.7,1.3-4.2,1.7l0,0l0,0c-2.2,0-4.5,0-6.7-0.1
            C126.6,101.5,124.3,101.4,122.1,101.2z"/>
        </g>
        <g>
          <path class="st27" d="M187.1,101.2c2.2-0.1,4.5-0.2,6.7-0.3c2.2-0.1,4.5-0.1,6.7-0.1l-0.1,0c1.3-0.4,2.7-0.9,4-1.6
            c1.2-0.7,2.4-1.5,3.4-2.5c1-1,1.8-2.2,2.7-3.4c0.4-0.6,0.9-1.2,1.2-1.8c0.4-0.6,0.6-1.3,0.9-2c-0.2,0.7-0.4,1.4-0.7,2.1
            c-0.3,0.7-0.7,1.3-1.1,1.9c-0.8,1.2-1.5,2.5-2.5,3.7c-1,1.1-2.2,2-3.5,2.8c-1.3,0.7-2.7,1.3-4.2,1.7l0,0l0,0c-2.2,0-4.5,0-6.7-0.1
            C191.5,101.5,189.3,101.4,187.1,101.2z"/>
        </g>
        <path class="st28" d="M22.4,107.4c0.1,1-11-22-11-31.7c0-9.3,3.1-12.5,6.1-14.1c2.2-1.2,7.9-1.7,8.5-8.8
          c0.6-7.1-1.5-21.2-10.7-25.2c0,0,22.5,11.4,24,24.4S31.7,73,29,75.7C26,78.8,20.4,82.3,22.4,107.4z"/>
      </g>
    </svg>
  </div>
</div>

