<h3>The SVG assignment is all about, …</h3>
<p>
  funny, fancy and in general, awesome stuff!
</p>
<h4>But first, watch this…</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/lf7L8X6ZBu8" frameborder="0" allowfullscreen></iframe>
<h4>and this…</h4>
<iframe width="560" height="315" src="https://www.youtube.com/embed/eVnUDTtOLE0" frameborder="0" allowfullscreen></iframe>
