<h3>Simple</h3>

<div class="row">
  <div class="col-sm-12">
    <h4>A rectangle</h4>
    <svg viewBox="0 0 500 100">
      <rect x="10" y="10" width="50" height="30" fill="#12a9b0" stroke="transparent" stroke-width="0"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A circle</h4>
    <svg viewBox="0 0 500 100">
      <circle cx="25" cy="25" r="20" stroke="#d3215d" fill="transparent" stroke-width="5"/>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A group</h4>
    <svg viewBox="0 0 500 100">
      <g transform="translate(30) rotate(45 50 50)">
        <ellipse cx="100" cy="20" rx="5" ry="15" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="100" cy="50" rx="5" ry="15" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="85" cy="35" rx="15" ry="5" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="115" cy="35" rx="15" ry="5" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <circle cx="100" cy="35" r="5" stroke="transparent" fill="#ffda21" stroke-width="1"/>
      </g>
      <g transform="translate(-30) rotate(20 50 50)">
        <ellipse cx="100" cy="20" rx="5" ry="15" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="100" cy="50" rx="5" ry="15" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="85" cy="35" rx="15" ry="5" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="115" cy="35" rx="15" ry="5" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <circle cx="100" cy="35" r="5" stroke="transparent" fill="#ffda21" stroke-width="1"/>
      </g>
      <g transform="translate(80) rotate(0 20 20)">
        <ellipse cx="100" cy="20" rx="5" ry="15" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="100" cy="50" rx="5" ry="15" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="85" cy="35" rx="15" ry="5" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <ellipse cx="115" cy="35" rx="15" ry="5" stroke="transparent" fill="#e3747a" stroke-width="1"/>
        <circle cx="100" cy="35" r="5" stroke="transparent" fill="#ffda21" stroke-width="1"/>
      </g>
    </svg>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4>A path</h4>
    <svg viewBox="0 0 500 200">
      <path fill="#a5bdc1" transform="translate(30, 20)" d="M92.4,0.3C65.2-1.8,58.6,23.7,58.6,23.7S52-1.8,24.7,0.3c-27.3,2.1-29,32.8-19,41.4S46.9,60,58.6,75.6
        c11.7-15.5,42.8-25.2,52.8-33.8C121.5,33.1,119.7,2.3,92.4,0.3z"/> {{!-- with illustrator --}}
      <path stroke="#d3215d" fill="transparent" stroke-width="3" d="M 30 80 L 160 20"/>
    </svg>
  </div>
</div>
