<h4>Text</h4>
<style>
  @import url(https://fonts.googleapis.com/css?family=Montserrat:700);< 
</style>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 20">
      <text x="2" y="10" style="font-size: 10px;" fill="#EF4F91">How did I even get here?</text>
    </svg>
  </div>
</div>

<h4>Text w/ Auto-Wrap</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <foreignObject x="0" y="0" width="500" height="100">
        <p style="font-size: 10px; color: #EF4F91;">Am heutigen Arbeitsmarkt ist ein Studienabschluss wichtiger denn je. 
          Aus diesem Grund entschied sich der Kärntner Thomas Bucher vor fünf Jahren 
          für ein Informatik-Studium an der TU Wien. Heute erhält er seinen 
          wohlverdienten Master-Abschluss. Damit wissen potentielle Arbeitgeber, 
          dass er in der Lage ist, jedes Computerproblem zu googlen.
          „In den letzten fünf Jahren habe ich wirklich viel gelernt“, 
          sagt Bucher stolz. „Ich kann jetzt nicht nur jedes Problem googlen. 
          Ich kann sogar Probleme googlen, die erst entstanden sind weil ich 
          versucht habe, andere Computerprobleme zu lösen.“</p>
        </foreignObject>
    </svg>
  </div>
</div>

<h4>Fancy Text</h4>
<div class="row">
  <div class="col-sm-12" style="background-color: black;">
    <svg class="svg-text" viewBox="0 0 900 80">
      <path id="path">
		    <animate attributeName="d" from="m0,50 h0" to="m0,50 h1100" dur="6.8s" begin="0s" repeatCount="indefinite"/>
	    </path>
	    <text font-size="26" font-family="Menlo" fill='#18d300'>
		    <textPath xlink:href="#path">I want a Cinnamon Roll Frappuccino.
        </textPath>
	    </text>
    </svg>
  </div>
</div>

{{!-- Cinnamon Roll Frappuccino --}}