<article>
    <h1 class="display-6">Constructors</h1>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Nationality</th>
            <th>Wikipedia</th>
        </thead>
        <tbody>
            {{#each constructors}}
                <tr>
                    <td>
                        <a href="/constructors/{{constructorId}}">{{name}}</a>
                    </td>
                    <td>
                        {{nationality}}
                    </td>
                    <td>
                        <a href="{{url}}">Goto</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</article>