<article>
    <h1 class="display-6">Formula 1</h1>
    <hr>
    <p>
        Formula One (also Formula 1 or F1) is the highest class of single-seater auto racing sanctioned by the Fédération Internationale de l'Automobile (FIA) and owned by the Formula One Group. The FIA Formula One World Championship has been one of the premier forms of racing around the world since its inaugural season in 1950. The "formula" in the name refers to the set of rules to which all participants' cars must conform.[2] A Formula One season consists of a series of races, known as Grands Prix (French for "grand prizes" or "great prizes"), which are held worldwide on purpose-built circuits and public roads.
    </p>
    <p>
        The results of each race are evaluated using a points system to determine two annual World Championships: one for drivers, the other for constructors. Drivers must hold valid Super Licences, the highest class of racing licence issued by the FIA.[3] The races are required to be held on tracks graded "1" (formerly "A"), the highest grade rating issued by the FIA.[3] Most events are held in rural locations on purpose-built tracks, but there are several events in city centres throughout the world, with the Monaco Grand Prix being the most well-known.
    </p>
</article>